@charset "utf-8";

//
//  Settings
//  Global variables, config switches.
@import
    "../_sass/01__settings/breakpoints",
    "../_sass/01__settings/colors",
    "../_sass/01__settings/fonts",
    "../_sass/01__settings/output",
    //	"../_sass/01__settings/paths",
    "../_sass/01__settings/units";

//
//  Base
$global__root:          "";
//
//  Paths
$global__font-path:     $global__root + "/fonts";
$global__image-path:    $global__root + "/images/";

//
//  Tools
//  Default mixins and functions.
@import
    "../_sass/02__tools/function/color",
    "../_sass/02__tools/function/decimal",
    "../_sass/02__tools/function/math",
    "../_sass/02__tools/function/rhythm",
    "../_sass/02__tools/function/unitless",
    "../_sass/02__tools/mixin/clearfix",
    "../_sass/02__tools/mixin/c-box",
    "../_sass/02__tools/mixin/fontface",
    "../_sass/02__tools/mixin/gradient",
    "../_sass/02__tools/mixin/grid",
    "../_sass/02__tools/mixin/scrollbar",
    "../_sass/02__tools/mixin/state",
    "../_sass/02__tools/mixin/truncate",
    "../_sass/02__tools/theme/alert",
    "../_sass/02__tools/theme/badge",
    "../_sass/02__tools/theme/breadcrumb",
    "../_sass/02__tools/theme/btn",
    "../_sass/02__tools/theme/btn-group",
    "../_sass/02__tools/theme/card",
    "../_sass/02__tools/theme/caret",
    "../_sass/02__tools/theme/dropdown",
    "../_sass/02__tools/theme/grid",
    "../_sass/02__tools/theme/hero",
    "../_sass/02__tools/theme/input-group",
    "../_sass/02__tools/theme/list-group",
    "../_sass/02__tools/theme/modal",
    "../_sass/02__tools/theme/nav",
    "../_sass/02__tools/theme/navbar",
    "../_sass/02__tools/theme/pager",
    "../_sass/02__tools/theme/pagination",
    "../_sass/02__tools/theme/panel",
    "../_sass/02__tools/theme/popover",
    "../_sass/02__tools/theme/progress-bar",
    //  "../_sass/02__tools/theme/form",
    "../_sass/02__tools/theme/table",
    "../_sass/02__tools/theme/utilities",
    "../_sass/02__tools/theme/well";

//
//  Generic
//  Ground-zero styles (Normalize.css, resets, box-sizing).
@import
    "../_sass/03__generic/normalize",
    "../_sass/03__generic/reset";

//
//  Base
//  Unclassed HTML elements (type selectors).
@import
    "../_sass/04__base/fontawesome/font-awesome",
    "../_sass/04__base/syntax",
    "../_sass/04__base/typography";

//
//  Objects
//  Cosmetic-free design patterns.
@import
    "../_sass/05__objects/theme/alert",
    "../_sass/05__objects/theme/badge",
    "../_sass/05__objects/theme/breadcrumb",
    "../_sass/05__objects/theme/btn",
    "../_sass/05__objects/theme/btn-group",
    "../_sass/05__objects/theme/card",
    "../_sass/05__objects/theme/caret",
    //  "../_sass/05__objects/theme/carousel",
    "../_sass/05__objects/theme/close",
    "../_sass/05__objects/theme/dropdown",
    "../_sass/05__objects/theme/form",
    "../_sass/05__objects/theme/grid",
    "../_sass/05__objects/theme/hero",
    "../_sass/05__objects/theme/img",
    "../_sass/05__objects/theme/input-group",
    //  "../_sass/05__objects/theme/labels",
    "../_sass/05__objects/theme/list-groups",
    "../_sass/05__objects/theme/list",
    "../_sass/05__objects/theme/media",
    "../_sass/05__objects/theme/modals",
    "../_sass/05__objects/theme/navbar",
    "../_sass/05__objects/theme/nav",
    //  "../_sass/05__objects/theme/notify";
    //  "../_sass/05__objects/theme/offcanvas";
    "../_sass/05__objects/theme/pager",
    "../_sass/05__objects/theme/pagination",
    "../_sass/05__objects/theme/panel",
    "../_sass/05__objects/theme/popover",
    "../_sass/05__objects/theme/progress-bar",
    "../_sass/05__objects/theme/responsive-embed",
    "../_sass/05__objects/theme/scrollbar",
    "../_sass/05__objects/theme/tab",
    "../_sass/05__objects/theme/table",
    //  "../_sass/05__objects/theme/sortable";
    //  "../_sass/05__objects/theme/thumbnails";
    //  "../_sass/05__objects/theme/tooltip";
    //  "../_sass/05__objects/theme/utilities";
    "../_sass/05__objects/theme/well",

    "../_sass/05__objects/site/footer",
    "../_sass/05__objects/site/header",
    "../_sass/05__objects/site/logo",
    "../_sass/05__objects/site/nav",
    "../_sass/05__objects/site/object",
    "../_sass/05__objects/site/section",
    "../_sass/05__objects/site/text";

//
//  Components
//  Designed components, chunks of UI.
//  @import
//      "../_sass/06__components/...",

//
//  Trumps
//  Helpers and overrides.
@import
    "../_sass/07__trumps/animations",
    "../_sass/07__trumps/bg",
    "../_sass/07__trumps/extend",
    "../_sass/07__trumps/floats",
    "../_sass/07__trumps/sr",
    "../_sass/07__trumps/text";

//
//  Shame
//  Yup.
@import
    "../_sass/08__shame/feeds",
    "../_sass/08__shame/page-specific";


