//
//  Var
$btn-group__contrast: $global__contrast;
$btn-group__radius: $global__radius;
$btn-group__x: $global__x;
$btn-group__y: $global__y;
@if $output__global {
    @if $output__btn-group {
        //
        //  Base
        .btn-group,
        .btn-group-vertical {
            position: relative;

            display: inline-block;

            vertical-align: middle;

            .btn {
                z-index: 2;
            }
        }

        .btn-group {
            .btn + .btn,
            .btn + .btn-group,
            .btn-group + .btn,
            .btn-group + .btn-group {
                margin-left: negative($one__pixel);
            }

            > .btn,
            > .btn-group {
                float: left;

                border-radius: 0;
            }

            > .btn:first-child {
                border-radius: $btn__radius 0 0 $btn__radius;
            }

            > .btn:last-child {
                border-radius: 0 $btn__radius $btn__radius 0;
            }
        }

        //
        //  Variations
        .btn-group-vertical {

            > .btn,
            .btn-group,
            .btn-group > .btn {
                float: none;
                display: block;
                margin: 0;
                border-radius: 0;
            }

            .btn + .btn {
                margin-top: negative($one__pixel);
            }

            .btn-group + .btn-group {
                margin-top: rhythm(1);
            }

            > .btn:first-child,
            .btn-group > .btn:first-child {
                border-radius: $btn__radius $btn__radius 0 0;
            }

            > .btn:last-child,
            .btn-group > .btn:last-child {
                border-radius: 0 0 $btn__radius $btn__radius;
            }
        }
        //
        //  Sizing
        @if $output__global--sizes {
            @if $output__btn-group--sizes {
                @include btn-group-size-variation($btn-group__y, $btn-group__x, $default__sizing);
            }
        }
        //
        //  Colors
        @if $output__global--theme {
            @if $output__btn-group--theme {
                @include btn-group-color-variation($default__palette);
                @include btn-group-color-variation($inverse__palette);
                @include btn-group-color-variation($primary__palette);
                @include btn-group-color-variation($neutral__palette);
                @include btn-group-color-variation($state__palette);
                @include btn-group-color-variation($classic__palette);
            }
        }
    }
}
