//
//  Var
$dropdown__contrast:  $global__contrast;
$dropdown__radius:    $global__radius;
$dropdown__x:         $global__x;
$dropdown__y:         $global__y;
//
//  Base
.dropup,
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    z-index: $zindex-dropdown;
    top: 100%;
    left: 0;

    display: none;
    float: left;

    border-radius: $dropdown__radius;
    background-color: $white;

    .open > & {
        display: block;
    }
}

.dropdown-menu > li {

    > a {
        position: relative;

        display: block;
        clear: both;

        padding: $dropdown__y $dropdown__x;

        white-space: nowrap;

        background-color: $white;
        border-right: $one__pixel solid;
        border-left: $one__pixel solid;
    }

    &:first-child > a {
        border-top: $one__pixel solid;
        border-top-left-radius: $dropdown__radius;
        border-top-right-radius: $dropdown__radius;
    }

    &:last-child > a {
        border-bottom: $one__pixel solid;
        border-bottom-right-radius: $dropdown__radius;
        border-bottom-left-radius: $dropdown__radius;
    }

    > .active,
    &.active > a,
    &.open > a {
        @include state-and-self {
            color: $white;
            border-color: transparent;
            background-color: $primary__color;
        }
    }
}
//
//  Colors
@include dropdown-color-variation($default__palette);
@include dropdown-color-variation($inverse__palette);
@include dropdown-color-variation($primary__palette);
@include dropdown-color-variation($neutral__palette);
@include dropdown-color-variation($state__palette);

