//
//  Var
$table__contrast:           $global__contrast;
$table__radius:             $global__radius;
$table__x:                  $global__x;
$table__y:                  $global__y;
$table--striped__bg:        tint($gray__01, $table__contrast * 3);
$table--hover__bg:          tint($gray__01, $table__contrast * 3);
//
//  Base
.table {
    width: 100%;
    max-width: 100%;

    > thead,
    > tbody,
    > tfoot {
        > tr {

            > th {
                text-align: left;
            }

            > th,
            > td {
                padding: $table__y $table__x;

                border-top: $one__pixel solid;
            }
        }
    }

    > thead > tr > th {
        vertical-align: bottom;

        border-bottom: $one__pixel solid;
    }

    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
}

.table-condensed {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: ($table__y / 2) ($table__x / 2);
            }
        }
    }

    > tbody + thead > tr > th,
    > tbody + thead > tr > td {
        padding-top: $table__y * 2;
    }
}

.table-bordered {
    border: $one__pixel solid;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                &:not(:last-child) {
                    border-right: $one__pixel solid;
                }
            }
        }
    }

    > thead > tr {
        > th,
        > td {
            border-bottom-width: $one__pixel;
        }
    }
}

.table-borderless {
    border: 0 none;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: 0 none;
            }
        }
    }

    > thead > tr > th {
        border: 0 none;
    }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $table--striped__bg;
}

.table-hover > tbody > tr:hover {
    background-color: $table--hover__bg;
}

.table-responsive {
    overflow-x: auto;

    min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

    @media screen and (max-width: $screen-xs-max) {
        overflow-y: hidden;

        width: 100%;

        //  border: $one__pixel solid;

        -ms-overflow-style: -ms-autohiding-scrollbar;

        > .table {
            margin-bottom: 0;

            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        white-space: nowrap;
                    }
                }
            }
        }

        > .table-bordered {
            border: 0;

            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th:first-child,
                    > td:first-child {
                        border-left: 0;
                    }

                    > th:last-child,
                    > td:last-child {
                        border-right: 0;
                    }
                }
            }

            > tbody,
            > tfoot {
                > tr:last-child {
                    > th,
                    > td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.table-rounded {
    border-radius: $table__radius;
    border-collapse: separate;
    overflow: hidden;
}

.table-flush {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.table-left-flush {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding-left: 0;
            }
        }
    }
}

.table-right-flush {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding-right: 0;
            }
        }
    }
}

.table-align-top {

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                vertical-align: top;
            }
        }
    }
}

.table-sticky {
    thead {
        background-color: $white;
    }
}
//
//  Colors
@include table-color-variation($default__palette);
@include table-color-variation($inverse__palette);
@include table-color-variation($primary__palette);
@include table-color-variation($neutral__palette);
@include table-color-variation($state__palette);
