@mixin caret($direction, $size, $offset) {
    top: 50%;

    width: 0;
    height: 0;
    margin-top: $offset;

    vertical-align: middle;

    @if $direction == top {
        border-top: $size solid;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    }

    @if $direction == bottom {
        border-right: $size solid transparent;
        border-bottom: $size solid;
        border-left: $size solid transparent;
    }
}
