//
//  Var
$site-btn__bg:      $primary__color;
$site-btn__color:   $white;
//
//  Base
.site-btn {
    color: $site-btn__color;
    background-color: $site-btn__bg;

    &:hover {
        background-color: shade($site-btn__bg, $global__contrast);
    }
}
