//
//  Base
.text-muted-25 {
    opacity: 0.25;
}

.text-muted,
.text-muted-50 {
    opacity: 0.5;
}

.text-muted-75 {
    opacity: 0.75;
}

.text-capitalize {
    text-transform: capitalize;
}
//
//  Colors
@include text-color-variation($default__palette);
@include text-color-variation($inverse__palette);
@include text-color-variation($primary__palette);
@include text-color-variation($neutral__palette);
@include text-color-variation($state__palette);
@include text-color-variation($opacity__palette);
