//
//  Var
$hero__contrast:  $global__contrast;
$hero__radius:    $global__radius;
$hero__x:         $global__x;
$hero__y:         $global__y;
//
//  Base
.hero {
    padding-top: $hero__y;
    padding-bottom: $hero__y;
}
//
//  Colors
@include hero-color-variation($default__palette);
@include hero-color-variation($inverse__palette);
@include hero-color-variation($primary__palette);
@include hero-color-variation($neutral__palette);
@include hero-color-variation($state__palette);

